# Домашнє завдання до тем apply(), groupby(), pivot_table()

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [1]:
import pandas as pd
import os
os.listdir('../data/')

['health_insurance_cross_sell_prediction.csv', 'supermarket_sales.csv']

In [2]:
data_path = '../data/supermarket_sales.csv'
df = pd.read_csv(data_path)

In [3]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3

1. Дослідимо, який філіал супермаркету ('Branch') є найприбутковішим. Для цього знайдіть сумарний прибуток за кожним філіалом і виявіть, який філіал має найвищий.

In [4]:
grouped = df.groupby("Branch")
grouped['Total'].mean()

Branch
A    312.354031
B    319.872506
C    337.099715
Name: Total, dtype: float64

Найвищий прибуток зафіксовано у філіалі С.

2. В якому місті знайходиться філіал з найвищим прибутком? Може в тому місці нам розмітисти ще один магазин.  
Знайдіть відповідь за допомогою функціоналу Pandas.

In [5]:
res1 = pd.pivot_table(df, index='Branch', columns='City', values='Total', aggfunc='mean')

In [6]:
res1

City      Mandalay   Naypyitaw      Yangon
Branch
A              NaN         NaN  312.354031
B       319.872506         NaN         NaN
C              NaN  337.099715         NaN

Найвищий прибуток зафіксовано у місті Naypyitaw.

3.1. Створіть зводну таблицю, яка покаже, скільки покупок (інвойсів) було зроблено в кожній з філій (`Branch`) за різними категоріями товарів. Запишіть таблицю в змінну `invoices_by_category` і виведіть змінну на екран.
Ця таблиця допоможе проаналізувати, в якій філії купують найбільше товарів кожної з категорій.

In [7]:
invoices_by_category = pd.pivot_table(df, index='Branch', columns='Product line', aggfunc={'Invoice ID': 'nunique'}, fill_value=0)

In [8]:
invoices_by_category

                         Invoice ID                                         \
Product line Electronic accessories Fashion accessories Food and beverages
Branch
A                                60                  51                 58
B                                55                  62                 50
C                                55                  65                 66


Product line Health and beauty Home and lifestyle Sports and travel
Branch
A                           47                 65                59
B                           53                 50                62
C                           52                 45                45

Очікуваний результат:

![](https://drive.google.com/uc?export=view&id=1rueAdko6S3UxIHGtojetTxlES-EyM6Yb)

3.2. Викристовуючи змінну `invoices_by_category` дайте відповідь програмно (тобто значення треба не просто знайти очима, а вивести за допомогою коду), в якому філіалі магазину (`Branch`) найбільше інвойсів із покупкою товарів категорії "Електронні аксесуари" (`Electronic accessories`)?

branch_with_most_electronic_accessories = invoices_by_category['Invoice ID']['Electronic accessories'].idxmax()
print(f"Філіал з найбільшою кількістю інвойсів із покупкою товарів категорії 'Електронні аксесуари': {branch_with_most_electronic_accessories}")

4-6. **Творче завдання на розвиток аналітичного мислення**

Крок 1. Сформулюйте ТРИ питання (гіпотези) до наявних даних, які допомогли б вам зрозуміти, які користувачі що, де та коли найбільше/найменше купують, аби дати на основі цих гіпотез рекомендації бізнесу. Звісно питання мають бути не тими, на які ми вже відповіли в завданнях модулю.

Крок 2. Знайдіть відповіді на свої питання з допомогою функціоналу pandas.

Крок 3. Напишіть, як відповідь на це питання може бути використана для прийняття бізнес рішень.   
   
 Питання можуть бути будь-якої складності, але їх має бути 3. Кожне питання оцінюється як 1 завдання. Без виконання цього завдання ДЗ не приймається. Якщо є питання щодо виконання - пишіть у чат 🙌

Гіпотеза 1. Користувачі типу Member роблять більше покупок ніж Normal.
Гіпотеза 2. Жінки частіше купують продукцію категорії Health and beauty.
Гіпотеза 3. Найбільший прибуток мережі дають товари категорії Electronic accessories.

In [10]:
cust_type = df.groupby("Customer type")
cust_type['Invoice ID'].count()

Customer type
Member    501
Normal    499
Name: Invoice ID, dtype: int64

In [11]:
category_by_gender = pd.pivot_table(df, index='Gender', columns='Product line', aggfunc={'Invoice ID': 'nunique'}, fill_value=0)

In [12]:
category_by_gender

                         Invoice ID                                         \
Product line Electronic accessories Fashion accessories Food and beverages
Gender
Female                           84                  96                 90
Male                             86                  82                 84


Product line Health and beauty Home and lifestyle Sports and travel
Gender
Female                      64                 79                88
Male                        88                 81                78

In [14]:
income_by_category = df.groupby("Product line")
income_by_category['Total'].sum()

Product line
Electronic accessories    54337.5315
Fashion accessories       54305.8950
Food and beverages        56144.8440
Health and beauty         49193.7390
Home and lifestyle        53861.9130
Sports and travel         55122.8265
Name: Total, dtype: float64

Усі гіпотези спростовані. Хоча користувачі типу Member зробили на 2 покупки більше, ймовірно, це пов'язано із похибкою і не є статистично значущими відмінностями. Це означає, що інвестиції компанії у побудову системи лояльності не приносить суттєвих результатів. Чоловіки зробили на 22 покупки у категорії Health and beauty більше за жінок. Отже, реклама може бути спрямована на них. Найбільші прибутки мережі забезпечує категорія Food and beverages.